*{
    margin: 0;
    padding: 0;
}

body{
    width: 290px;
    margin:0 auto;
    padding: 5%;
}


@media screen and (min-width: 768px) {

    .imagenes{
        background-color: lightblue;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    img{
        width: 300px;
        max-width:100%;
    }

   }
